<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-4">
            <div class="mt-4">
                <div class="card-body login-style">
                    <h5 class="card-title text-center"><b>Iniciar sesión</b></h5>

                    <form id="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                        <br>
                        <div class="form-group">
                            <label class="mb-2" for="email">Correo Electrónico:</label>
                            <input #email="ngModel" [(ngModel)]="user.email" required
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email"
                                name="email" class="form-control" type="text" placeholder="Correo electrónico"
                                autocomplete="off" required>
                            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                                El email no es valido
                            </small>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="mb-2" for="password">Contraseña:</label>
                            <input #password="ngModel" [(ngModel)]="user.password" required 
                            id="password"  name="password" type="password"
                                class="form-control" placeholder="Contraseña" required>
                        </div>
                        <br>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btm-alegra btn-danger mt-2 py-2 px-4
                             "
                             [disabled] ="loginForm.invalid"
                             >Ingresar <i
                                    class="fas fa-sign-in-alt"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


<style>
    /*
.btm-alegra {
    background-color: #30aba9 !important;
    color: #ffff;
}

.login-style {
    border: 1px solid #30aba9;
    padding: 11%;
    border-radius: 10px;
}
*/
</style>